{% extends 'index.html' %}
{% block backend_content %}
			<div class="main-container">
				<div class="padding-md center-block">
<span class="text-purple">充值会员可享用更多功能</span><hr>

                    <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
 <img src="/media/article_imgs/zfb.jpg" class="img-thumbnail" alt="user avatar">
    </a>
  </div>
  ...
</div>
                    <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
<img src="/media/article_imgs/wx.jpg" class="img-thumbnail" alt="user avatar">
    </a>
  </div>
  ...
</div>



                    <hr>
                    <span class="text-center">成为会员可以享有修改密码，更换头像，创建多个博客等权益</span>
				</div><!-- ./padding-md -->
			</div><!-- /main-container -->
{% endblock backend_content%}